.Home {
  position: relative;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navCommon{
  background-color: #3f51b5;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Admin  */
/* Product */
.noteProduct{
  max-width:200px;
  word-wrap:break-word;
}
.endSaleProduct{
  max-width:100px;
  word-wrap:break-word;
}
.btnAddPro{
  text-align: right;
  color: green;
  font-weight: bolder;
  width: 50px;
  height: 50px;
}
.updateProductItem{
  margin: 2%;
}

/* User Admin */
.userManager{
}
/* Post Admin */
.updatePostItem{
  margin: 2%;
}
.rightPost{
  min-width: 50rem;
}
.btnAddPost{
  color: white;
}

/* Trainer */
.titleTrainer{
  color: white;
  font-weight: bolder;
}
.textTrainer{
  font-weight: bolder;
}
.btnSeeTrainer{
  cursor: pointer;
}


.cart :hover .spanCart {
  color: #808080;
}
.divCart {
  padding: 1%;
  position: absolute;
  top: 12%;
  left: 30%;
  z-index: 4;
  opacity: 0.9;
  background-color: #fff;
  border: 2px #1e73be solid;
}
.divBanner {
  margin-top: 2%;
}
.divSearch {
  padding: 2%;
}
.inputSearch {
  border-radius: 5px;
  padding-left: 5px;
  overflow: hidden;
}
.divCategory {
  padding: 1%;
  background-color: #3f51b5;
  display: flex;
  justify-content: center;
}
.divHeaderCommon {
  padding: 1%;
  background-color: #3f51b5;
  display: flex;
  justify-content: space-between;
}
.itemCategory:hover {
  color: gray;
  background-color: oldlace;
}
.divListProducts {
  margin-top: 2%;
  position: relative;
}
.divProduct {
  margin-left: 2%;
}
.divProduct :hover {
  text-decoration: none;
}
.divProduct :hover .imgProduct {
  transform: translateX(5px);
}
.pProduct {
  color: darkslategray;
  font-weight: bold;
}

.itemCategory {
  margin-left: 10px;
  margin-top: 10px;
  color: white;
  font-weight: bolder;
  font-size: large;
}
.leftDetail {
  border: 0.5px #dddddd solid;
}
.rightDetail {
  padding-left: 5%;
}
.divDetail {
  padding: 5%;
  color: black
}
.chooseTaste,
.chooseGift {
  color: #e35627;
  text-transform: uppercase;
}

.itemTaste {
  padding: 2%;
  border: 0.5px #dddddd solid;
}
.itemTaste {
  padding: 2%;
  border: 0.5px #dddddd solid;
}
.itemTaste :hover {
  border: 1px #e35627 solid;
}
.itemGift :hover {
  border-color: #e35627;
}
.itemGift {
  padding: 2%;
  border: 0.5px #dddddd solid;
}
.descDetail {
  padding: 5px;
  border: 0.5px #dddddd solid;
}
.dauX {
  color: red;
}
.detailName {
  display: flex;
  font-size: large;
  font-weight: bolder;
}
.detailSalePrice {
  text-align: left;
  font-size: large;
  font-weight: bolder;
}
.divFooter {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: #446084;
  color: wheat;
}

.btnMinus,
.btnAdd,
.btnSoLuong {
  border: 0.5px #ddd solid;
  background-color: white;
}
.btnSoLuong {
  padding: 4%;
  font-size: medium;
}
/* Login Form */
#loginForm{
  border: 2px #1e73be solid;
  position: absolute;
  top: 6%;
  left: 0px;
}

.hiddenForm {
  opacity: 0;
  z-index: -1;
  width: 0px;
}
.showFormLogin{
  opacity: 1;
  z-index: 5;
  transition: width .5s ease-in-out;
  width: 600px;
}
#divCheckOut {
  padding: 2%;
  position: absolute;
  top: 5%;
  left: 30%;
  z-index: 6;
  max-width: 600px;
  border: 2px #1e73be solid;
  background-color: white;
  flex-wrap: wrap;
}
.divTbCO {
  text-align: center;
  background-color: #ccffff;
}

.pHeaderCO {
  font-size: 1.2em;
  overflow: hidden;
  padding-top: 10px;
  font-weight: bolder;
  text-transform: uppercase;
}
.tbCheckOut {
  width: 100%;
  margin-bottom: 1em;
  border-spacing: 0;
}
#cart {
  /* display: none; */
  cursor: pointer;
}
#logout {
  /* display: none; */
  cursor: pointer;
}
.btnEdit {
  padding: 1%;
  color: #1e73be;
}
.btnDelete {
  padding: 1%;
  color: red;
}
.divPagi {
  display: flex;
  justify-content: center;
  padding: 1%;
}
.dv-star-rating-star > i{
  font-size: x-large;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.seeProfile{
  color: white;
}
.btn-primary :hover {
  color: yellow;
}
/* Comment */
.divAllRate{
  padding-top: 2%;
}
.divRate{
  margin-top: 5% ;
  background-color: #d5f1e1;
}
.divRateItem{
  padding: 2%;
  /* border: 0.5px gray solid; */
}
.pUser{
  font-weight: bolder;
  padding: 0;
  margin: 0;
  color: #2f2d2d;
}
.pDate{
  color: gray;
  font-size: 13px;
}
.h3HR{
  font-weight: 700;
  color: #2b84b4;
}
.newComment{
  border: 0.5px gray solid;
  /* background-color: #d5f1e1; */
}
/* Post */
.divListNewPost{
  margin: 2%;
}
.divNewPost {
  cursor: pointer;
  padding: 1%;
  border: 0.5px #e1dfdf solid;
}
.h3Sale{
  margin: 1%;
  text-align: center;
  font-weight: bold;
  color: red;
  text-decoration: underline;
}
.h3New{
  margin: 1%;
  text-align: center;
  font-weight: bold;
  color: red;
  text-decoration: underline;
}
.pDatePost{
  margin: 1%;
  color: gray;
  font-size: small;
}

.divNewPost:hover .headerPost{
  color: rgb(36, 137, 13);
}
.headerPost{
  font-weight: bolder;
}
.thumbnail{
  padding: 50px;
  transition: tranform .2s; 
  margin: 0 auto;
  width: 100% ;
  height:300px;
}
.thumbnail:hover {
  transform: scale(1.2); 
  /* transform: translateX(20px); */
}

* {
  box-sizing: border-box;
}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
.inputSearch,.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.inputSearch:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3b5998;
  color: white;
}

.twitter {
  background-color: #55acee;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type='submit'] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}


/* Toggle input */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.carousel-indicators li.btnBanner{
  width: 20px;
  height: 20px;
  display: block;
  background-color: #6a6a6a;
  border-radius: 50%;
}

.divGame{
  display: flex;
}
.giftSpan {
  background-color: rgb(230,230,230);
  display: inline-block;
  padding: 20px;
  width: 200px;
  height: 100px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}
.giftSpan:hover {
   background-color: rgb(200,200,230);
}

.radioCustom1, .radioCustom2{
  display: inline-block;
}

.radioHiddenTaste , .radioHiddenGift{
  display: none;
}

.itemTaste , .itemGift{
  padding: 5px;
  border-radius: 5px;
  border:1px solid black;
}

.radioHiddenTaste:checked + .itemTaste{
  border:1px solid #86c038;
  background: #86c038;
  color: white;
  transition: all 0.5s;
}

.radioHiddenGift:checked + .itemGift{
  border:1px solid #86c038;
  background: #86c038;
  color: white;
  transition: all 0.5s;
}